@model IEnumerable<shoppingstore.Models.Category>

@{
    ViewData["Name"] = "Index";
}

<h1>store</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Items">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Description">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
